body {
    background: orange;
    background: white;
    overflow-x: scroll;
    color: rgb(40, 40, 40)
}

h1 {
    color: white;
    font-family: sans-serif;
    margin-left: 15px;
}


div.header {
    background: darkblue;
    margin: 0;
    padding: 5px;
}

div, ol {
    font-family: georgia;
}


div p, table {
    line-height: 1.5;
}

div.table {
    overflow: scroll;
}

div table td{
    padding: 5px;
}
div.code {
    margin-top: 50px;
    color: lightyellow;
    background: rgb(30, 30, 30);
    border: 1px solid orange;
    padding-top: 0px;
    line-height: 1.5;
    width: 100%;
    overflow-x: scroll;
}

@media screen and (min-width: 800px) {
   div.code {
        width: 80%;
        margin: auto;
   }
}
div.code .lines {
    padding-top: 20px;
}

div.code div {
    color: white;
    background: rgb(60, 60, 60);
    font-family: tahoma;
    border: 1px solid grey;
    display: inline-block;
    width: 70px;
    overflow-x: scroll;
    padding-left: 5px;
}

pre {

}

li {
    padding-top: 5px;
}

li span {
    color: brown;
}

span.primary {
    color: orange;
}

span.secondary {
    color: lightgreen;
}

span.strings {
    color: lightblue;
}

table, td, th  {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}


